<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <!-- Ajoutez le fichier JS Bootstrap (facultatif, mais souvent nécessaire pour les composants interactifs) -->
     {% endblock %}
        <!-- JavaScript Bootstrap Bundle with Popper.js CDN -->
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-eXQchayKdPv1LCB9MXN7PrDlI8XrTI5x9nMPUdCOY6P0dH+nV2nW9pd0EIlxvq8H" 
                crossorigin="anonymous"></script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    
</head>
<body>
{% include "_partials/navbar.html.twig" %}  

{% if app.user and app.user.isVerified ==false %}
<div class="alert alert-danger alert-dissmissible fade show w-50 mx-auto mt-3" role="alert">
    <strong>ATTENTION</strong>  
    <p>Votre compte n'a pas été activé ! </p>
    <p>Merci de valider votre compte via le lien envoyé sur votre boite mail lors de l'inscription</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

  {% include "_partials/alerts.html.twig" %}
  <div class="container">
      {% block body %}{% endblock %}
  </div>

</body>
</html>
